/* 
   Post的样式
   css/post.css
*/
#content {
	/* 设置内容的最小高度为300px */
	min-height: 300px;
}
.comment_body {
	/* 为了美化回帖评论 */
 	min-height: 62px; 
}

hr {
	border-top: 1px solid #8a6d3b;
}

.dash {
	border-top: 1px dashed #8a6d3b;
	margin-top: -10px;
}

#send_comment {
	margin-top: 10px;
	margin-bottom: 10px;
}
.show-grid {
	margin-bottom: 15px;
	margin-right: 2px;
	margin-left: 2px;
	/* 	margin: 0px; */
}

.show-grid [class^="col-"] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	border: 1px solid #ddd;
	background-color: rgba(86, 61, 124, .15);
	border: 1px solid rgba(86, 61, 124, .2);
}